.grid-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.grid-item {
    text-align: center;
    padding: 8px 16px;
    background: #1c1c1e;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}
